/* start global, variables i background*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font importada de google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:400&display=swap");

:root {
  --grad: linear-gradient(to bottom right, #8bc34a, #ff9800);
  /* Recurs generador de clips: https://bennettfeely.com/clippy/ */
  /* The clip-path property allows you to make complex shapes in CSS 
  by clipping an element to a basic shape (circle, ellipse, polygon, 
  or inset), or to an SVG source.*/
  --clip: polygon(52% 65%, 100% 38%, 100% 0, 0 0, 0% 38%);
  --shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  --c: #eaeaea;
  --g: #74d800;
  --vPrincipal: #8bc34a;
  font-family: "Montserrat", sans-serif;
}

.fondoPantalla {
  background-image: var(--grad);
  clip-path: var(--clip);
  height: 100vh;
  width: 100%;
}

.caixaChat {
  background: white;
  border-radius: 5px;
  box-shadow: var(--shadow);
  display: flex;
  height: 80vh;
  width: 80vw;
  /* Amb aquestes 4 linees centro el requadre ppral del chat*/
  /* Util per posicionar finestres emergents i/o formularis 
  emergents...*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /**********************************************************/
}
/* ends global, variables i background*/

/* start aside */
.left {
  height: 100%;
  width: 30%;
  border-right: 2px solid var(--c);
}

.h1Title,
.searchContact {
  border-bottom: 1px solid var(--c);
  height: 70px;
  letter-spacing: 0.5em;
  /* display */
  display: flex;
  justify-content: center;
  align-items: center;
}
.h1Title span {
  color: var(--vPrincipal);
}

.inputSearchContact {
  border: none;
  background: var(--vPrincipal);
  outline: none;
  padding: 10px 15px;
  width: 100%;
}
.searchContact form {
  width: 80%;
}
.icoSearch button {
  border: none;
  background: var(--vPrincipal);
  padding: 2px;
}
.icoSearch .icon1 {
  height: 28px;
  width: 28px;
}

/* ends aside */

/* start main */
.right {
  height: 100%;
  width: 70%;
}
/* ends main */
